
#root {
    height: 100%;
  }
  
  /* layout */
  
  .grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    padding: 5rem;
  }
  footer {
    grid-area: footer;
    background-color: #8C8C8C;
    width: 100%;
    color: #000000;
  }
  
  /* common  */
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  a {
    text-decoration: none;
  }
  /* a:hover {
    color: #ff8000;
  } */
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    margin-top: 1rem;
  }
  input,
  select,
  textarea
  {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #a4a4a4;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   } 
  
  input:hover,
  select:hover,
  textarea:hover {
    border: 0.1rem solid #404040;
  } 
  
  button {
    outline: none;
    text-transform: none;
    overflow: visible;
  }
  
  /* header */
  a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .row.center {
    justify-content: center;
  }
  .row.top {
    align-items: flex-start;
  }
  .col-1 {
    flex: 1 1 25rem;
  }
  .col-2 {
    flex: 2 1 50rem;
  }
  .min-30 {
    min-width: 30rem;
  }
  /* Image */
  img {
    border-radius: 0.5rem;
  }
  img.small {
    max-width: 5rem;
    width: 100%;
  }
  img.medium {
    max-width: 29rem;
    width: 100%;
  }
  img.large {
    width: 100%;
  }
  
  /* Card */
  
  .price {
    font-size: 2rem; 
  }
  
  /* Alert */
  .success {
    color: #20a020;
  }
  .danger {
    color: red;
  }
  .alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }
  .alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
  }
  .alert-danger {
    color: #a02020;
    background-color: #ffe0e0e0;
  }
  
  
  