.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #000F08;
}

.DrawerToggle div:last-child {
    width: 60%;
    height: 3px;
    background-color: #000F08;
}



@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}