@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: local('Helvetica Neue LT Std'), url(./assets/fonts/HelveticaNeueLTStd-Bd.otf) format('otf');
}
html {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue LT Std';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#demo-simple-select-label, #demo-simple-select {
  font-family: 'Helvetica Neue LT Std';
}

